
<div class="douban">
	<p class="asidetitle">Reading List</p>
	<script type="text/javascript" src="http://www.douban.com/service/badge/fresky/?selection=latest&amp;picsize=small&amp;show=collection&amp;n=6&amp;hidelogo=on&amp;cat=book&amp;columns=3"></script>
</div>
