<div class="stackoverflow">
	<p class="asidetitle">Stack Overflow</p>
	<a href="http://stackoverflow.com/users/304115/fresky">
			<img src="http://stackoverflow.com/users/flair/304115.png" width="100%" height="100%" alt="profile for fresky at Stack Overflow, Q&A for professional and enthusiast programmers" title="profile for fresky at Stack Overflow, Q&A for professional and enthusiast programmers">
	</a>
</div>
